

<div class="list-group">
    @foreach (var summary in Model.Headers)
    {
        <a href="#" class="list-group-item">@summary.UniqueId - @summary.Envelope.Subject (@summary.Envelope.From)</a>
    }
</div>
