<div class="list-group">
    <h3><span id="activeFolder" class="label label-default">@Model.ActiveFolder </span></h3>

    @foreach (var summary in Model.HeadersToShow)
    {
        <a href="#" draggable="true" ondragstart="headerDragStart(event)" id="@summary.UniqueId" class="list-group-item">@summary.Envelope.Subject (@summary.Envelope.From)</a>
    }
</div>
