@{
    ViewData["Title"] = "Mail";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/styles.css")" />
}

<div>
    <div id="actionsRow">
        <form asp-action="CreateMail" method="get" id="createMail">
            <input class="button" type="submit" value="Create new">
        </form>
    </div>

    <div id="mailsDiv">
        <div id="foldersColumn">
            <div id="foldersContent" class="content">
                <p> Foldery</p>
            </div>
        </div>

        <div id="mailsColumn">
            <div id="mailsContent" class="content">
                <p>Nagłówki maili z wybranego folderu</p>
            </div>
        </div>
    </div>
</div>

<br /><br />

<form asp-action="ImapClientTest" method="post" id="imapClientTest">
    <table border="0">
        <tr>
            <td>Login</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>IMAP server address:</td>
            <td><input type="text" name="host"></td>
        </tr>
        <tr>
            <td>Port:</td>
            <td><input type="text" name="port"></td>
        </tr>
        <tr>
            <td>Use SSL:</td>
            <td>
                <input type="radio" name="useSsl" value="true"> Yes
                <br />
                <input type="radio" name="useSsl" value="false"> No
            </td>
        </tr>
    </table>
    <input type="submit" value="IMAP test" />
</form>
