
@{
    ViewData["Title"] = "ShowMailsView";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/styles.css")" />
}

@section Scripts {
    <script>
        function CloseMessage() {
            $("#messageContent").hide();
            $("#mailsContent").show();
            $('messageSpinner').hide();
        }

        function ShowMessage(data) {
            console.log(data);
            $("#messageContent").show();
            $("#mailsContent").hide();
            $("#messageSpinner").hide();

            $("#messageSubject").text(data.subject)
            $("#messageFrom").text(data.from)
            $("#messageBody").html(data.body);
        }

        function GetMessage(folderName,id) {
            $("#messageSpinner").show();
            $("#mailsContent").hide();

            $("#messageSpinner").addClass("loader");
            $("#messageSpinner").show();

            $.ajax({
                type: 'GET',
                url: '/Mail/GetMessage?id=' + id + '&folderName=' + folderName,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    ShowMessage(data);
                },
                failure: function (data) {
                    CloseMessage();
                    console.log("Failure");
                    console.log(data);
                },
                error: function (data) {
                    CloseMessage();
                    console.log("Error");
                    console.log(data);
                }
            });
        };

        function AddActionToHeaders() {
            var buttons = $("#mailsContent").find('a');
            $.each(buttons, function (index, value) {
                $(value).click(function () {
                    GetMessage("@Model.ActiveFolder", value.id);
                });
            });

        };
        AddActionToHeaders();
    </script>
}

@model Core.Models.ImapClientModel

<div>
    <div id="actionsRow">
        <form asp-action="CreateMail" method="get" id="createMail" style="float:left">
            <input class="button" type="submit" value="Create new">
        </form>
        <form asp-action="ReceiveMail" method="get" id="receiveMail" style="float:left">
            <input class="button" type="submit" value="Receive">
        </form>
    </div>

    <div id="mailsDiv">
        <div id="foldersColumn">
            <div id="foldersContent" class="content">
                <p> Foldery</p>
                @{
                    Html.RenderPartial("FolderPartialView.cshtml", Model);
                }
            </div>
        </div>

        <div id="mailsColumn">
            <div id="mailsContent" class="content">
                @{
                    Html.RenderPartial("HeadersPartialView.cshtml", Model);
                }
            </div>
            <div id="messageSpinner"></div>
            <div id="messageContent" class="content">
                <a href="#" onclick="CloseMessage()" id="cancel" name="cancel" class="btn btn-default">Close message</a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="messageFrom" class="panel-heading"></h4>
                        <h4 id="messageSubject" class=""></h4>
                    </div>
                    <div id="messageBody" class="panel-body"></div>
                </div>
            </div>
        </div>

    </div>
</div>