
@{
    ViewData["Title"] = "ShowMailsView";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/styles.css")" />
}

@model Core.Models.ImapClientModel

@section Scripts {
    <script>

        // hides message and shows headers
        function CloseMessage() {
            $("#messageContent").hide();
            $("#headersContent").show();
            $('#messageSpinner').hide();
        }


        // hides spinner and shows message
        function ShowMessage(data) {
            $("#messageContent").show();
            $("#headersContent").hide();
            $("#messageSpinner").hide();

            $("#messageSubject").text(data.subject)
            $("#messageFrom").text(data.from)
            $("#messageBody").html(data.body);
        }

        // ajax for refreshing headers
        function ajaxCallRefresh(methodUrl) {
            $.ajax({
                type: 'GET',
                url: methodUrl,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // loads partial view into headers content
                    $('#headersContent').html(data);
                    AddActionToHeaders();
                },
                failure: function (data) {
                    console.log("Failure");
                    console.log(data);
                },
                error: function (data) {
                    console.log("Error");
                    console.log(data);
                }
            });
        }

        function refreshHeadersPeriodically() {
            var url = '@Url.Action("PeriodicallyRefreshMail", "Mail")';
            ajaxCallRefresh(url);
        }

        // call refresh after 10secs
        window.setInterval(refreshHeadersPeriodically, 10000);


        // show spinner and after getting message from server shows it
        function GetMessage(folderName,id) {
            $("#messageSpinner").show();
            $("#headersContent").hide();

            $("#messageSpinner").addClass("loader");
            $("#messageSpinner").show();

            $.ajax({
                type: 'GET',
                url: '/Mail/GetMessage?id=' + id + '&folderName=' + folderName,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    ShowMessage(data);
                },
                failure: function (data) {
                    CloseMessage();
                    console.log("Failure");
                    console.log(data);
                },
                error: function (data) {
                    CloseMessage();
                    console.log("Error");
                    console.log(data);
                }
            });
        };

        // adds function to headers button to show their message
        function AddActionToHeaders() {
            var buttons = $("#headersContent").find('a');
            $.each(buttons, function (index, value) {
                $(value).click(function () {
                    GetMessage("@System.Net.WebUtility.UrlEncode(@Model.ActiveFolder)", value.id);
                });
            });
        };
        AddActionToHeaders();

    </script>
}

<div>
    <div id="actionsRow">
        <form asp-action="CreateMail" method="get" id="createMail" style="float:left">
            <input class="button" type="submit" value="Create new">
        </form>
        <form asp-action="ReceiveMail" method="get" id="receiveMail" style="float:left">
            <input class="button" type="submit" value="Receive">
        </form>
    </div>

    <div id="mailsDiv">
        <div id="foldersColumn">
            <div id="foldersContent" class="content">
                <p> Foldery</p>
                @{
                    Html.RenderPartial("FolderPartialView.cshtml", Model);
                }
            </div>
        </div>

        <div id="mailsColumn">
            <form asp-action="SearchCurrentFolder" method="get" id="searchCurrentFolder">
                <input type="text" id="searchPhrase" name="searchPhrase">
                <input class="search_button" type="submit" value="Search current folder">
            </form>
            <div id="headersContent" class="content">
                @{
                    Html.RenderPartial("HeadersPartialView.cshtml", Model);
                }
            </div>
            <div id="messageSpinner"></div>
            <div id="messageContent" class="content">
                <a href="#" onclick="CloseMessage()" id="cancel" class="btn btn-default">Close message</a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 id="messageFrom" class="panel-heading"></h4>
                        <h4 id="messageSubject" class=""></h4>
                    </div>
                    <div id="messageBody" class="panel-body"></div>
                </div>
            </div>
        </div>

    </div>
</div>