@{
    ViewData["Title"] = "Home Page";
}

@section head {
    <link rel="Stylesheet" href="@Href("~/css/styles.css")" />
}

@model Core.Models.Home.LoginUserModel

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<h2>Login</h2>

<div id="prompt-div">
    <form asp-action="Login" method="post" id="login" class="main-form">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username" class="warning-message"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="warning-message"></span>
        </div>


        <input type="submit" value="Login">
    </form>

    <a asp-action="Register">You don't have an account? Create one now.</a>

</div>